@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,87.4,600;1,87.4,600&family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wdth,wght@0,87.4,600;1,87.4,600&family=Revalia&display=swap');


.footer{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    top: 16rem;
    display: flex;
    justify-content: center;
    background-color: #424857;


    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 3rem;
        flex-direction: column; 
        height: auto;
        width: 100%;
        border: 2px solid #333;
        box-sizing: border-box;

    }

    .links {
        display: flex;
        //justify-content: center;
        height: auto;
        
        ul {
          list-style-type: none;
          margin:0;
          padding: 0;
          text-align: center;
          display: inline-flex;

    
          li {
            // display: inline-block;
            margin-right: 120px;
            height: 30px;
            
    
            &:last-child {
              margin-right: 0;
            }
    
            a {
                color: #fff;
              text-decoration: none;
              font-weight: 600;
              font-family: "Noto Sans Mono", monospace;
              font-optical-sizing: auto;
              font-weight: 400;
              line-height: 25.6px;
              font-size: 16px;
              letter-spacing: 0.1cm;
            }
          }
        }
    }

    .linesec{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;

        .sociallinks {
            display: flex;
            height: auto;
            justify-content: center;
            
            ul {
              list-style-type: none;
              margin:0;
              padding: 0;
              text-align: center;
              display: inline-flex;
                
        
              li {
                margin-right: 40px;
                height: 30px;
                
        
                &:last-child {
                  margin-right: 0;
                }
        
                a {
                    color: #fff;
                  text-decoration: none;
                  font-weight: 600;
                  font-family: "Noto Sans Mono", monospace;
                  font-optical-sizing: auto;
                  font-weight: 400;
                  line-height: 25.6px;
                  font-size: 16px;
                  letter-spacing: 0.1cm;
                }
              }
            }
        }
    }

    .trade-mark{
        margin-top: 3rem;
        color: #fff;
        opacity: 0.7;
        text-decoration: none;
        font-weight: 200;
        font-family: "Noto Sans Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.1cm;
    }
}